* {
    margin: 0;
}

/* index */

.body-main {
    background-color:aliceblue;
}

.header-home {
    display: flex;
    justify-content: start;
}

.main-index {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    width: 900px;
    margin: 0 auto;

}

.titulo-passeio {
    justify-self: center;
}

.texto {
    padding-right: 25px;
    width: 100%;
}
.galeria {
    display: column;
    justify-content: center;
    padding: 10px;
    background-color: white;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    font-size: small;
    margin: 10px;

}
article img {
    flex: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}


.page-criada img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

h1 {
    font-size: 3rem;
    font-family: "Cabin", sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 70px;
    color: #607D8B;
}

p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #455A64;
    color: white;
    margin: 0px;
}


/* parque_esculturas */
.header-third {
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url("./img/letreiro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 50vh;

}

.header-third nav {
    margin-bottom: 20px;
    margin-left: 20px;
}

.header-third nav ul li {

    list-style-type: none;
}

.header-third nav ul li a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header-second {
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url("./img/letreiro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 50vh;

}

.header-second nav {
    margin-bottom: 20px;
    margin-left: 20px;
}

.header-second nav ul li {

    list-style-type: none;
}

.header-second nav ul li a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-parque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
    background-color: aqua;
}

.local-park p {
    margin-right: 0;
}

iframe {
    width: 100%;

}

.galeria-parque {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0;
    margin: 0;
    width: 100%;

}

.galeria-parque a {
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.galeria-parque img {
    flex: 1;
    width: 270px; 
    margin: 0;
}

.galeria-parque img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}



