* {
    margin: 0;
}

/* index */

.body-main {
    padding-left: 150px;
    padding-right: 150px;
    background-color:aliceblue;
}

.header-home {
    display: flex;
    justify-content: start;
}

.main-index {
    display: flex;

}

.texto {
    padding-right: 25px;
    width: 50%;
}
.galeria {
    display: block;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
}

article {
    flex: 1;
    justify-content: center;
    padding: 20px;

}
article img {
    width: 100%;
    height: auto;
}

.page-criada img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

h1 {
    font-size: 3rem;
    font-family: "Cabin", sans-serif;
    padding-bottom: 25px;
    padding-top: 10px;
    color: #0288D1;
    margin-left: 60px;
}

p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #0288D1;
    color: white;
}


/* parque_esculturas */
.header-third {
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url("./img/vista_mar_h.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 50vh;

}

.header-third nav {
    margin-bottom: 20px;
    margin-left: 20px;
}

.header-third nav ul li {

    list-style-type: none;
}

.header-third nav ul li a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header-second {
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url("./img/letreiro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 50vh;

}

.header-second nav {
    margin-bottom: 20px;
    margin-left: 20px;
}

.header-second nav ul li {

    list-style-type: none;
}

.header-second nav ul li a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main-parque {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.local-park p {
    margin-right: 50px;
}

.local-park iframe {
    padding-right: 50px;
    margin-bottom: 30px;

}

.galeria-parque {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.galeria-parque a {
    margin-right: 40px;
    margin-top: 30px;
}

.galeria-parque img {
    width: 350px; 
    margin-right: 20px;
}

.galeria-parque img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}



